<h1>Address Book Input</h1>

<form action="/address_book" method="post">
  <div class="form-group">
    <ul>

      <li>
        <label for="first_name">First Name:</label>
        <input id="first_name" name="first_name" class="form-text" type="text">
      </li>

      <li>
        <label for="last_name">Last Name:</label>
        <input id="last_name" name="last_name" class="form-text" type="text">
      </li>

      <li>
        <label for="birthday">Birthday:</label>
        <input id="birthday" name="birthday" class="form-text" type="text">
      </li>

      <li>
        <label for='phone'>Phone Number:</label>
        <input id='phone' name='phone' class='form-text' type='text'>
      </li>

      <li>
        <label for='email'>Email Address:</label>
        <input id='email' name='email' class='form-text' type='text'>
      </li>

      <!-- <label for='address'> -->
      <li>
        <button type="submit" class="btn-success">Add Contact</button>
      </li>
    </ul>
  </div>
</form>
<a class="btn btn-success" href="/address_book">Go To Address Book</a>
